.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
  margin: 0 auto;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #000000;
  padding: 0 2rem;
}

.shoppingCart {
  font-size: 30px;
  margin-right: 16px;
}

.appFooter {
  height: 60px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.itemCard,
.itemCardBadge {
  margin: 8px;
}

.productsContainer {
  padding: 8px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  min-width: 80vw;
}

.discountPrice {
  color: red;
  text-decoration: line-through;
}

.logo {
  max-height: 50px;
}

.itemCard {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 16px;
}

.itemCard:hover {
  border-color: #1890ff;
}

.selected {
  border-color: #1890ff;
  box-shadow: 0 0 5px #1890ff;
}

@media (max-width: 500px) {
  .App {
    width: 100%;
  }

  .ant-card {
    max-width: 90%;
  }

  .itemCardBadge {
    position: absolute;
    left:65%;
  }

  .appHeader {
     padding: 0;
  }
}
